/*------------------------------------------------------------------
[11. Design 1 - Minimalist ]
*/

.cb-design-1 {  
    .cb-score-box { float: right; }
    .cb-pros-cons-block { width: calc(100% - 140px); float: left; text-align: left; }
}

